<div class="add-edit-simulation-container">
  <form #ngForm="ngForm" (ngSubmit)="form.form.valid && saveSimulation()">
    <div class="page-header">
      <div class="page-header-row">
        <h2 style="margin: 0;">
          <ng-template [ngIf]="simulation">{{
            simulation.id ? 'Edit simulation: ' + simulation.name : 'Add a new simulation'
          }}</ng-template>
        </h2>
        <a id="cancel" style="margin-left: auto;" mat-button (click)="cancel()">
          CANCEL
        </a>
        <app-loading-button
          #saveButton
          id="save"
          mat-raised-button
          color="primary"
          (click)="shouldRunAfter = false; ngForm.onSubmit($event)"
          [disabled]="ngForm.form.invalid && ngForm.submitted"
          style="margin-left: 20px;"
        >
          SAVE
        </app-loading-button>
        <app-loading-button
          #saveRunButton
          id="save-and-run"
          mat-raised-button
          color="primary"
          (click)="shouldRunAfter = true; ngForm.onSubmit($event)"
          [disabled]="ngForm.form.invalid && ngForm.submitted"
          style="margin-left: 20px;"
        >
          SAVE AND RUN
        </app-loading-button>
      </div>
    </div>
    <mat-card>
      <div *ngIf="!simulation; then loading; else loaded"></div>
      <ng-template #loading>
        <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex">
          <!-- General Info tab-->
          <mat-tab label="GENERAL INFO">
            <div class="loading-container">
              <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
            </div>
          </mat-tab>
          <mat-tab label="DATA SOURCES">
            <div class="loading-container">
              <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
            </div>
          </mat-tab>
          <mat-tab label="MODELS">
            <div class="loading-container">
              <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
            </div>
          </mat-tab>
          <mat-tab label="BINDINGS">
            <div class="loading-container">
              <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
            </div>
          </mat-tab>
          <mat-tab label="DATA INPUTS">
            <div class="loading-container">
              <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
            </div>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
      <ng-template #loaded>
        <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex">
          <!-- GENERAL INFO TAB-->
          <mat-tab ngModelGroup="generalInfo" #ngGeneralInfo="ngModelGroup">
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'mat-tab-label-invalid': ngForm.submitted && (ngGeneralInfo.invalid)
                }"
                >GENERAL INFO *</span
              >
            </ng-template>
            <mat-grid-list cols="1" rowHeight="330px">
              <mat-grid-tile>
                <!-- Left half of the GENERAL INFO TAB-->
                <div class="page-left-align">
                  <h4>General info</h4>
                  <table class="full-width" cellspacing="0">
                    <tr>
                      <td>
                        <mat-form-field class="general-info-inputs-width">
                          <input
                            id="name"
                            name="name"
                            matInput
                            placeholder="Name of Simulation"
                            [(ngModel)]="simulation.name"
                            required
                          />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="general-info-inputs-width">
                          <input
                            id="description"
                            name="description"
                            matInput
                            placeholder="Description of Simulation"
                            [(ngModel)]="simulation.description"
                            required
                          />
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </div>
              </mat-grid-tile>
              
            </mat-grid-list>
          </mat-tab>
          <!-- Data Sources TAB-->
          <mat-tab ngModelGroup="dataSources" #ngModels="ngModelGroup">
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'mat-tab-label-invalid': ngForm.submitted && (ngModels.invalid || simulation.dataSources.length == 0)
                }"
                >DATA SOURCES *</span
              >
            </ng-template>
            <mat-grid-list cols="2">
              <mat-grid-tile class="tile-flex-start">
                <div class="page-left-align">
                  <h4>Data Sources to use</h4>
                  <mat-error *ngIf="simulation.dataSources.length == 0">At least one data source needs to be selected.</mat-error>
                  <mat-card
                    *ngFor="let dataSource of simulation.dataSources; let i = index"
                    class="mat-elevation-z4 model-card connected"
                    id="dataSource-card-{{ i }}"
                  >
                    <mat-card-title-group>
                      <mat-card-title>
                        {{ dataSource.name }}
                      </mat-card-title>
                      <!--mat-card-subtitle>
                        {{ model.description ? model.description.substring(0, 50) : ''
                        }}<span *ngIf="model.description.length > 50">...</span>
                      </mat-card-subtitle-->
                    </mat-card-title-group>
                    <span class="force-right">{{ dataSource.price }} €/access</span>
                    <button id="data-source-delete-button-{{ i }}" type="button" mat-icon-button (click)="deleteDataSource(i)">
                      <mat-icon>clear</mat-icon>
                    </button>
                  </mat-card>
                </div>
              </mat-grid-tile>
              <mat-grid-tile class="tile-flex-start">
                <div class="page-left-align">
                  <app-select-data-source-table
                    [rows]="availableDataSourcesNotSelected"
                    (itemAdded)="onDataSourceAdded($event)"
                    pageTitle="All Available Data Sources"
                  ></app-select-data-source-table>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-tab>
          <!-- Models TAB-->
          <mat-tab ngModelGroup="models" #ngModels="ngModelGroup">
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'mat-tab-label-invalid': ngForm.submitted && (ngModels.invalid || simulation.models.length == 0)
                }"
                >MODELS *</span
              >
            </ng-template>
            <mat-grid-list cols="2">
              <mat-grid-tile class="tile-flex-start">
                <div class="page-left-align">
                  <h4>Models to use</h4>
                  <mat-error *ngIf="simulation.models.length == 0">At least one model needs to be selected.</mat-error>
                  <mat-card
                    *ngFor="let model of simulation.models; let i = index"
                    class="mat-elevation-z4 model-card connected"
                    id="model-card-{{ i }}"
                  >
                    <mat-card-title-group>
                      <mat-card-title>
                        {{ model.name }}
                      </mat-card-title>
                      <mat-card-subtitle>
                        {{ model.description ? model.description.substring(0, 50) : ''
                        }}<span *ngIf="model.description.length > 50">...</span>
                      </mat-card-subtitle>
                    </mat-card-title-group>
                    <span class="force-right">{{ model.price }} €/call</span>
                    <button id="model-delete-button-{{ i }}" type="button" mat-icon-button (click)="deleteModel(i)">
                      <mat-icon>clear</mat-icon>
                    </button>
                  </mat-card>
                </div>
              </mat-grid-tile>
              <mat-grid-tile class="tile-flex-start">
                <div class="page-left-align">
                  <app-select-model-table
                    [rows]="availableModelsNotSelected"
                    (itemAdded)="onModelAdded($event)"
                    pageTitle="All Available Models"
                  ></app-select-model-table>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-tab>
          <!-- Bindings tab -->
          <mat-tab ngModelGroup="bindings" #ngModels="ngModelGroup">
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'mat-tab-label-invalid': ngForm.submitted && (ngModels.invalid)
                }"
                >BINDINGS *</span
              >
            </ng-template>
            <!-- one inner tab for every model -->
            <div *ngFor="let model of simulation.models; index as mi; trackBy: trackByModel">
              <h3>{{ model.name }}</h3>

              <!-- one "binding editor" per argument -->
              <table *ngFor="let argumentBinding of argumentBindingsPerModel.get(model.name); index as ai; trackBy: trackByArgument">
                <tr>
                  <th colspan="4">{{ argumentBinding.argumentName }}</th>
                </tr>
                <tr>
                  <th>Column</th>
                  <th>Source type</th>
                  <th>Bound column</th>
                </tr>

                <tr *ngFor="let column of argumentBinding.columns; index as ci; trackBy: trackByColumn">
                  <td>{{ column.targetColumn.name }}</td>
                  <td><!-- source type selection -->
                    <mat-select
                      id="{{mi}}-{{ai}}-{{ci}}-source-type"
                      name="{{mi}}-{{ai}}-{{ci}}-source-type"
                      [(ngModel)]="column.sourceType"
                      (selectionChange)="updateSelectedSource($event, column, argumentBinding)">
                      <mat-option *ngFor="let type of simulationBindingTypes" [value]="type">{{ type }}</mat-option>
                    </mat-select>
                  </td>
                  <td> <!-- source column selection -->
                    <select *ngIf="column.sourceType == simulationBindingType.data" 
                      id="{{mi}}-{{ai}}-{{ci}}-source-select-data"
                      name="{{mi}}-{{ai}}-{{ci}}-source-select-data"
                      [(value)]="column.selectedSource"
                      [(ngModel)]="column.selectedSource">
                      <!-- TODO filter based on target column data type -->
                      <option *ngFor="let dataSource of availableDataSourceInputs" 
                        [value]="dataSource"
                        >{{ dataSource.sourceArgumentName }}.{{ dataSource.sourceColumnName }}</option>
                    </select>
                    <select *ngIf="column.sourceType == simulationBindingType.model" 
                      id="{{mi}}-{{ai}}-{{ci}}-source-select-model"
                      name="{{mi}}-{{ai}}-{{ci}}-source-select-model"
                      [(value)]="column.selectedSource"
                      [(ngModel)]="column.selectedSource">
                      <!-- TODO filter based on target column data type -->
                      <option *ngFor="let dataSource of availableModelOutputInputs" 
                        [value]="dataSource"
                        >{{ dataSource.sourceName }}.{{ dataSource.sourceArgumentName }}.{{ dataSource.sourceColumnName }}</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>

          </mat-tab>
          <mat-tab ngModelGroup="data input" #ngModels="ngModelGroup">
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'mat-tab-label-invalid': ngForm.submitted && (ngModels.invalid)
                }"
                >DATA INPUT *</span
              >
            </ng-template>
            <div *ngFor="let model of simulation.models; index as mi; trackBy: trackByModel">
              <h3>{{ model.name }}</h3>
              <table *ngFor="let argumentBinding of argumentBindingsPerModel.get(model.name); index as ai; trackBy: trackByArgument">
                <tbody *ngIf="argumentHasInputBindings(argumentBinding); else notInput">
                  <tr>
                    <th>{{ argumentBinding.argumentName }}</th>
                    <th *ngIf="argumentHasOnlyInputBindings(argumentBinding)">
                      <mat-form-field>
                        <label style="font-weight: bold; margin-right: 0.5em;" matPrefix for="{{mi}}-{{ai}}-length">Input size: </label> 
                        <input type="number"
                          id="{{mi}}-{{ai}}-length"
                          name="{{mi}}-{{ai}}-length"
                          matInput 
                          [(ngModel)]="argumentBinding.length"
                          (ngModelChange)="onArgumentLengthChange(argumentBinding)"
                          min="1">
                      </mat-form-field>
                    </th>
                  </tr>
                  <tr>
                    <th *ngFor="let column of argumentBinding.columns; index as ci; trackBy: trackByColumn">{{ column.targetColumn.name }}</th>
                  </tr>
                  <tr *ngFor="let rownum of range(argumentBinding.length)">
                    <td *ngFor="let column of argumentBinding.columns; index as ci; trackBy: trackByColumn">
                      <ng-container *ngIf="column.targetColumn.referenceType != 'none'; else plain"> <!-- reference column -->
                        <select
                          id="{{mi}}-{{ai}}-{{ci}}-value-{{rownum}}"
                          name="{{mi}}-{{ai}}-{{ci}}-value-{{rownum}}"
                          [(ngModel)]="column.sourceColumnArray[rownum]">
                          <option *ngFor="let option of columnOptions(column)" [value]="option">{{ option }}</option>
                        </select>
                          <!-- TODO update value when other column with same source is changed(?) -->

                      </ng-container>
                      <ng-template #plain> <!-- plain text input -->
                        <mat-form-field>
                          <input
                            id="{{mi}}-{{ai}}-{{ci}}-value-{{rownum}}"
                            name="{{mi}}-{{ai}}-{{ci}}-value-{{rownum}}"
                            matInput
                            [(value)]="column.sourceColumnArray[rownum]"
                            [(ngModel)]="column.sourceColumnArray[rownum]"
                            required
                          /> <!-- placeholder="value {{rownum}}" -->
                          <span matSuffix>{{ getUnit(column, rownum) }}</span>
                        </mat-form-field>
                        <!-- TODO input validation based on target column type -->
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
                <ng-template #notInput>
                  <tbody><tr><td>-</td></tr></tbody>
                </ng-template>
              </table>
            </div>

            <!-- TODO data input -->
            <!-- one table per argument with one or more "input" sources -->
            <!-- number of rows = extra number input -->
            <!-- if target is a reference, make dropdown with values of referenced data 
              ...figure out data source url -->
            <!-- if "model" source is bound, assume no other types of inputs (ignore here) -->
            
            <!-- TODO later: if mixed source (some "input", some "data") then fix rows to minimum data 
              ... -->

          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-card>
  </form>
</div>
