<div class="add-edit-simulation-container">
  <form #ngForm="ngForm" (ngSubmit)="form.form.valid && saveSimulation()">
    <div class="page-header">
      <div class="page-header-row">
        <h2 style="margin: 0;">
          <ng-template [ngIf]="simulation">{{
            simulation.id ? 'Edit simulation: ' + simulation.name : 'Add a new simulation'
          }}</ng-template>
        </h2>
        <a id="cancel" style="margin-left: auto;" mat-button (click)="cancel()">
          CANCEL
        </a>
        <app-loading-button
          #saveButton
          id="save"
          mat-raised-button
          color="primary"
          (click)="shouldRunAfter = false; ngForm.onSubmit($event)"
          [disabled]="ngForm.form.invalid && ngForm.submitted"
          style="margin-left: 20px;"
        >
          SAVE
        </app-loading-button>
        <app-loading-button
          #saveRunButton
          id="save-and-run"
          mat-raised-button
          color="primary"
          (click)="shouldRunAfter = true; ngForm.onSubmit($event)"
          [disabled]="ngForm.form.invalid && ngForm.submitted"
          style="margin-left: 20px;"
        >
          SAVE AND RUN
        </app-loading-button>
      </div>
    </div>
    <mat-card>
      <div *ngIf="!simulation; then loading; else loaded"></div>
      <ng-template #loading>
        <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex">
          <!-- General Info tab-->
          <mat-tab label="GENERAL INFO">
            <div class="loading-container">
              <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
            </div>
          </mat-tab>
          <mat-tab label="MODELS">
            <div class="loading-container">
              <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
            </div>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
      <ng-template #loaded>
        <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex">
          <!-- GENERAL INFO TAB-->
          <mat-tab ngModelGroup="generalInfo" #ngGeneralInfo="ngModelGroup">
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'mat-tab-label-invalid': ngForm.submitted && (ngGeneralInfo.invalid || !selectedFoodProduct)
                }"
                >GENERAL INFO *</span
              >
            </ng-template>
            <mat-grid-list cols="2" rowHeight="330px">
              <mat-grid-tile>
                <!-- Left half of the GENERAL INFO TAB-->
                <div class="page-left-align">
                  <h4>General info</h4>
                  <table class="full-width" cellspacing="0">
                    <tr>
                      <td>
                        <mat-form-field class="general-info-inputs-width">
                          <input
                            id="name"
                            name="name"
                            matInput
                            placeholder="Name of Simulation"
                            [(ngModel)]="simulation.name"
                            required
                          />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field class="general-info-inputs-width">
                          <input
                            id="description"
                            name="description"
                            matInput
                            placeholder="Description of Simulation"
                            [(ngModel)]="simulation.description"
                            required
                          />
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                </div>
              </mat-grid-tile>
              <!-- Right half of the GENERAL INFO TAB-->
              <mat-grid-tile>
                <div class="page-left-align">
                  <h4>Food Product</h4>
                  <div *ngIf="selectedFoodProduct !== null; then showChosenFoodProduct; else showEmptyField"></div>
                  <ng-template #showChosenFoodProduct>
                    <mat-card class="selected-food-product mat-elevation-z4">
                      <mat-card-title-group>
                        <mat-card-title id="foodProductName">{{ selectedFoodProduct.name }}</mat-card-title>
                        <mat-card-subtitle id="foodProductCompanyAndStandardCode">
                          {{ selectedFoodProduct.companyCode }}<br />
                          {{ selectedFoodProduct.standardCode }}
                        </mat-card-subtitle>
                      </mat-card-title-group>
                      <div class="force-right"></div>
                      <mat-card-actions class="foodproduct-actions">
                        <button
                          id="foodproduct-inspect-button"
                          type="button"
                          mat-icon-button
                          (click)="inspectFoodProduct()"
                        >
                          <mat-icon>
                            open_in_new
                          </mat-icon>
                        </button>
                        <button
                          id="foodproduct-delete-button"
                          type="button"
                          mat-icon-button
                          (click)="deleteFoodProduct()"
                        >
                          <mat-icon>
                            clear
                          </mat-icon>
                        </button>
                      </mat-card-actions>
                    </mat-card>
                  </ng-template>
                  <ng-template #showEmptyField>
                    <mat-card
                      class="choose-food-product"
                      [ngClass]="{ 'choose-food-product-invalid': ngForm.submitted }"
                    >
                      <mat-card-title>
                        No Food Product selected. Select a Food Product in the table below.
                      </mat-card-title>
                    </mat-card>
                    <app-select-food-product-table
                      [rows]="availableFoodProducts"
                      (itemAdded)="onFoodProductAdded($event)"
                      pageTitle="All Available Food Products"
                    ></app-select-food-product-table>
                  </ng-template>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-tab>
          <!-- Models TAB-->
          <mat-tab ngModelGroup="models" #ngModels="ngModelGroup">
            <ng-template mat-tab-label>
              <span
                [ngClass]="{
                  'mat-tab-label-invalid': ngForm.submitted && (ngModels.invalid || simulation.models.length == 0)
                }"
                >MODELS *</span
              >
            </ng-template>
            <mat-grid-list cols="2">
              <mat-grid-tile class="tile-flex-start">
                <div class="page-left-align">
                  <h4>Models to use</h4>
                  <mat-error *ngIf="simulation.models.length == 0">At least one model needs to be selected.</mat-error>
                  <mat-card
                    *ngFor="let model of simulation.models; let i = index"
                    class="mat-elevation-z4 model-card connected"
                    id="model-card-{{ i }}"
                  >
                    <mat-card-title-group>
                      <mat-card-title>
                        {{ model.name }}
                      </mat-card-title>
                      <mat-card-subtitle>
                        {{ model.description ? model.description.substring(0, 50) : ''
                        }}<span *ngIf="model.description.length > 50">...</span>
                      </mat-card-subtitle>
                    </mat-card-title-group>
                    <span class="force-right">{{ model.price }} €/call</span>
                    <button id="model-delete-button-{{ i }}" type="button" mat-icon-button (click)="deleteModel(i)">
                      <mat-icon>clear</mat-icon>
                    </button>
                  </mat-card>
                </div>
              </mat-grid-tile>
              <mat-grid-tile class="tile-flex-start">
                <div class="page-left-align">
                  <app-select-model-table
                    [rows]="availableModelsNotSelected"
                    (itemAdded)="onModelAdded($event)"
                    pageTitle="All Available Models"
                  ></app-select-model-table>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-card>
  </form>
</div>
