<div class="reset-password-page">
  <div class="title">Internet of Food</div>
  <mat-card>
    <div class="reset-password-container">
      <p><b>Choose a new password</b></p>
      <form
        #ngForm="ngForm"
        (ngSubmit)="ngForm.form.valid && resetPassword()"
        [appMustMatch]="['new-password', 'repeated-new-password']"
      >
        <div class="form-container">
          <mat-form-field appearance="none">
            <mat-label for="new-password">New Password</mat-label>
            <input
              matInput
              [(ngModel)]="newPassword"
              #ngNewPassword="ngModel"
              id="new-password"
              name="new-password"
              type="password"
              minlength="6"
              required
            />
            <mat-error *ngIf="ngNewPassword.invalid && ngNewPassword.errors.minlength"
              >Password must be at least 6 characters long.</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="none">
            <mat-label for="repeated-new-password">New Password (Repeat)</mat-label>
            <input
              matInput
              [(ngModel)]="repeatedNewPassword"
              #ngRepeatedNewPassword="ngModel"
              id="repeated-new-password"
              name="repeated-new-password"
              type="password"
              required
            />
            <mat-error *ngIf="ngRepeatedNewPassword.invalid && ngRepeatedNewPassword.errors.mustMatch"
              >The specified passwords do not match.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="buttons-container">
          <app-loading-button
            mat-raised-button
            id="button"
            color="primary"
            (click)="ngForm.onSubmit($event)"
            [disabled]="ngForm.form.invalid && ngForm.submitted"
          >
            Reset my password
          </app-loading-button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
