table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 900px;
  table-layout: fixed;
}

.table-row {
  font-size: 14px;
}

.table-column {
  font-size: 12px;
}

td {
  word-wrap: break-word;

  .column-column {
    padding-bottom: 6px;
  }

  .column-column:first-of-type {
    padding-top: 3px;
  }

  .column-column:last-of-type {
    padding-bottom: 3px;
  }
}
